.form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 300px;
}
.input {
    background: rgb(156, 156, 156);
    height: 30px;
    width: 100%;
    margin: 0 0 10px 0;
    color: #FFF;
}

.inputRemember {
    display: inline-block;
    margin: 0 0 10px 0;
}

.remember {
    margin: 0 10px 0 0;
}
.check:checked {
    background: #000;
}
.submit {
    width: 100px;
    height: 40px;
    background: rgb(52, 52, 52);
    color: rgb(255, 255, 255);
}
.submit:hover{
    color: rgb(216, 216, 6);
}
.error{
    color: red;
}